@charset "utf-8";
/* CSS Document */
html{margin:0px;padding:0px;font-size:14px;width:100%;}
body{width:100%;margin:0px;padding:0px;font-family:"宋体",Verdana,simsun, Geneva, sans-serif;line-height:200%;font-size:1em;color:#555;width:100%;background:#fff;}
font,span,p{font-size:1em;}
div,ul,li,p,table,img,dl,dd,dt,form{margin:0px;padding:0px;list-style:none;border:0px;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;font-size:1em;}
img,input,select,radio{vertical-align:middle;border:none;}
table{border-collapse:collapse;}
a,a:link,a:visited{color:#555;text-decoration:none;cursor:pointer;}
a:hover{color:#f37d26;text-decoration:none;cursor:pointer;}
a{transition:all .2s ease;}
.fr{float:right;}
.fl{float:left;}
.hide{display:none;}
.show{display:block;}
em , i , b{font-style:normal}
.center{text-align:center;}
.clear{clear:both;}
.clearfix:after{clear:both;content:"";display:table;}
.clearfix{*zoom:1;}
.scroll{overflow-y:scroll;}
.textRight{text-align:right;padding-right:10px;}

/*input*/
input[type="text"],input[type="password"]{height:26px;line-height:26px;border:1px solid #C2C2C2;padding:0 4px;}
input[type=button]{cursor:pointer;}
select{font-size:14px;color:#555;width:80px;padding-left:4px;padding:4px 0px 4px 4px;border:1px solid #C2C2C2;}
textarea{color:#555;padding:0 4px;border:1px solid #C2C2C2;overflow:auto;}
input[type=text],input[type=button],select,textarea{font-family:"宋体",Verdana,simsun, Geneva, sans-serif;}




                                 
                                 
